

#headimg {
  height: 500px;
  width: 100%;
}
/* this is search bar */
@media screen and (min-width: 100px) and (max-width: 900px) {
    .img-fluid{
        width: 60px;
        margin-left: 0px;
       }
}

#searchbar{

  width: 600px;
  margin-right: 10px;

}
/* this is my logo */
.img-fluid{
 width: 60px;
 margin-left: 40px;
}
/* login and sign up  */
.nav-link{
margin-left: 30px;
font-size: 20px;
font-weight: 800;
  
}


